<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737984087469-ctt1mproula5lsq3odld9a78jvcedoos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737984087469-ctt1mproula5lsq3odld9a78jvcedoos</string>
	<key>API_KEY</key>
	<string>AIzaSyCgpxe98IZJ18vf5wbUemuuCdeOi8PloHM</string>
	<key>GCM_SENDER_ID</key>
	<string>737984087469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ewersoncastelo.Hinario-Adventista</string>
	<key>PROJECT_ID</key>
	<string>hinario-adventista-b9ea6</string>
	<key>STORAGE_BUCKET</key>
	<string>hinario-adventista-b9ea6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737984087469:ios:48c5d150a1906614</string>
	<key>DATABASE_URL</key>
	<string>https://hinario-adventista-b9ea6.firebaseio.com</string>
</dict>
</plist>